<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.manager.dao.BaseAdminUserMapper">
  <resultMap id="BaseResultMap" type="com.backend.manager.pojo.BaseAdminUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SYS_USER_NAME" jdbcType="VARCHAR" property="sysUserName" />
    <result column="SYS_USER_PWD" jdbcType="VARCHAR" property="sysUserPwd" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
    <result column="USER_STATUS" jdbcType="INTEGER" property="userStatus" />
    <result column="REG_TIME" jdbcType="VARCHAR" property="regTime" />
  </resultMap>

  <sql id="baseColumn">
    ID,SYS_USER_NAME,SYS_USER_PWD,USER_STATUS,REG_TIME,USER_PHONE,ROLE_ID
  </sql>


  <update id="updateUser">
    UPDATE base_admin_user
    <set>
      <if test="sysUserName != null">
        SYS_USER_NAME = #{sysUserName},
      </if>
      <if test="sysUserPwd != null">
        SYS_USER_PWD = #{sysUserPwd},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId},
      </if>
      <if test="userPhone != null">
        USER_PHONE = #{userPhone}
      </if>
    </set>
    WHERE id = #{id}
  </update>


  <update id="updatePwd">
    UPDATE base_admin_user
    set SYS_USER_PWD = #{password}
    where SYS_USER_NAME = #{userName}
  </update>

  <update id="updateUserStatus">
    UPDATE base_admin_user
    SET USER_STATUS = #{status}
    WHERE id = #{id}
  </update>


  <select id="getUserByUserName" resultMap="BaseResultMap">
    SELECT <include refid="baseColumn"/>
    FROM base_admin_user
    WHERE SYS_USER_NAME = #{sysUserName}
    and USER_STATUS = 1
    <if test="id != null">
      and id != #{id}
    </if>
  </select>

  <select id="findByUserName" resultMap="BaseResultMap">
    SELECT <include refid="baseColumn"/>
    FROM base_admin_user
    WHERE SYS_USER_NAME = #{userName}
    and USER_STATUS = 1
  </select>

  <select id="getUserList" resultType="com.backend.manager.dto.AdminUserDTO">
    SELECT id, SYS_USER_NAME AS sysUserName ,ROLE_ID AS roleId,
    (SELECT role_name FROM base_admin_role  r WHERE r.id = u.ROLE_ID) as roleName,
    USER_PHONE AS userPhone,REG_TIME AS regTime,USER_STATUS AS userStatus
    FROM base_admin_user  u
    <where>
      <if test="sysUserName != null and sysUserName != '' ">
        and SYS_USER_NAME LIKE '%' #{sysUserName} '%'
      </if>
      <if test="userPhone != null and userPhone != '' ">
        and USER_PHONE  LIKE '%' #{userPhone} '%'
      </if>
      <if test="startTime != null and startTime != '' ">
        and REG_TIME &gt;  #{startTime}
      </if>
      <if test="endTime != null and endTime != '' ">
        and REG_TIME &lt;  #{endTime}
      </if>
    </where>
  </select>

</mapper>